smalldiffdx01.png
mimura_finaltime_reactiononRHS.png
__pycache__/
solidbody_pdeco/
*.csv
ref_*/
Schnak_adv*/
advection_*/
NL_*/
FCT_*/
Feb*/
adv*/
nonlinear*/
*_eddie/
exact_sol_FCT_PGD/
chtxs.o*
*.png
NL_b0.1_T0.5_Td2_C3*
*.zip

